 <!-- About Section -->
    <section class="success" id="about">
        <div class="container" style="padding-top: 160px; padding-bottom: 100px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="aboutme text-center">
                    <p>I’m Pranay, and I’m an Android Engineer, living in Ahmedabad.</p>
                </div>
            </div>
            <div class="row">
                    
                <div class="aboutme text-center">
                    <p>I write stuff at <a href="https://booleancoder.com/">booleancoder.com</a>
                         and <a href="https://medium.com/@pranaypatel">Medium</a>.
                         I am a part of the Android team at <a href="https://www.simform.com/">Simform</a> </p>
                         <p>I mainly write about Android, Kotlin, and Firebase. Some time on other technical stuff too!</p>
                         <p>As an Android developer, love to write and teaching about Android App Development.</p>
                         <p></p>
                         <p>I always love to prepares food in my leisure time.</p>
                         <p>You can always find me <a href="https://twitter.com/pranaypatel_">@pranaypatel_</a> on Twitter for twitting about Android and other technical things.</p>
                </div>
            </div>
        </div>
    </section>
