<!-- About Section -->
<section class="success" id="contact">
        <div class="container" style="padding-top: 160px; padding-bottom: 100px;">
                <div class="row">
                        <div class="col-lg-12 text-center">
                                <h2>Contact</h2>
                                <hr class="email-light">
                        </div>
                </div>
                <div class="portfolio-item" 
                    style="color: #3DDB86; font-size: 22pt; text-align: center;font-family: Candara;">
                        Drop an email on <a href="mailto:agentavery@sample.com?subject='Hi from '">www.pranay1337.com@gmail.com</a>
                </div>
        </div>
</section>